body {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
}

p {
	color: #717171;
	line-height: 1.4;
	font-size: 18px;
}

a, a:active, a:focus, a:hover {outline: none;}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: rgba(238, 238, 238, 0);
}

.navbar {margin: 0; border: 0; border-radius: 0;}

.navbar-toggle {
	padding: 0;
	border: 0;
	margin: 0;
}

.input-group {
	padding: 2em;
	padding-top: 2em;
	background-color: #e6be8a;
	display: block;
}

.responsive {
	overflow: auto;
}

.section-1 {background-color: #8A100B;}

.site-header {
	padding-top: 30px;
	padding-bottom: 30px;
}

#p-our-team .site-header,
#p-contact .site-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
#p-our-team .logo,
#p-contact .logo {
    margin-top: 6px;
    margin-bottom: 0;
}
#p-our-team .nav,
#p-contact .nav {
    margin-top: 8px;
}

.logo {
    margin-top: 7px;
    font-family: 'Nova Square', cursive;
}

.logo a {color: #fff;}

.logo a:hover {text-decoration: none;}

.ion-navicon {
	font-size: 3em;
	color: #fff;
}

.navbar-nav>li>a {
    color: #ffffff; 
    text-transform: uppercase; 
    font-size: 14px; 
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
	margin: 10px 15px;
}



.section-2 {
	padding: 90px 0 100px 0;
}

.feature {
margin-bottom: 50px;
}

.feature-last {
	margin-bottom: 0;
}

h5 {
	color:rgba(243, 241, 241, 0.89);
}



.section-header {
font-weight: 100;
font-size: 36px;
margin-bottom: 60px;
color: #FFFFFF;
}



.site-footer {
	background-color: #8A100B;
	color: #fff;
	text-align: center;
	padding: 20px 15px;
}

.copyright {
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase;
	color: #939393;
}


.main-page-header {
    font-weight: 100; 
    font-size: 42px; 
    margin-bottom: 5px; 
    color: #8A100B; 
    text-align: center;
}

.main-sub-header {
    text-align: center; 
    font-weight: 100; 
    font-size: 24px; 
    line-height: 1.5; 
    margin-bottom: 100px;
}



label {
	line-height: 150%;
	margin: 0;
	padding: 0 0 3px 0;
	border: none;
	display: block;
	white-space: normal;
	width: 100%;
	font-family: inherit;
	font-style: normal;
	color: #000;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
}

label span {
	color: #EB5959;
	font-size: 17px;
	margin-left: 2px;
}

.modal-header {
	background-color: #8A100B;
}